{% load bootstrap3 %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Scratchpad{% endblock %}</title>
    {% bootstrap_css %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% bootstrap_javascript %}
</head>
<body>

<div class="container">
    <h1><small><a href="{% url 'note-endless' %}"><span class="glyphicon glyphicon-home"></span></a></small class="pull-right"> scratchpad <small><a href="{% url 'admin:index' %}"><span class="pull-right glyphicon glyphicon-edit" style="margin-top: 8px;"></span></a></small></h1>
    {% block content %}{% endblock %}
</div>

</body>
</html>